<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>com.baidu.test.whitelist.TestOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>down</servlet-name>
    <servlet-class>com.xstd.activeplugin.servlet.DownLoadApkServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>account</servlet-name>
    <servlet-class>com.xstd.activeplugin.servlet.RequestUrlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.xstd.activeplugin.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>back</servlet-name>
    <servlet-class>com.xstd.activeplugin.servlet.BackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>down</servlet-name>
    <url-pattern>/down</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>account</servlet-name>
    <url-pattern>/account</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>back</servlet-name>
    <url-pattern>/back</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.xstd.activeplugin.filter.CharacterFilter</filter-class>
    <init-param>
      <param-name>context-encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
    <init-param>
      <param-name>server-encoding</param-name>
      <param-value>iso-8859-1</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>